#logo{
    /* border:1px solid red; */
    /* height:40px; */
    padding-top: 5px;
}

nav{
    
    color:rgb(185, 185, 186);
        font-weight: normal;
    text-size-adjust: 100%;
    font-synthesis: none;
    -webkit-font-smoothing: antialiased;
    direction: ltr;
    text-align: left;
    /* font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue",
      Helvetica, Arial, sans-serif; */
    position:fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 9999;
    display: block;
    margin: 0px;
    width: 100%;
    min-width: 1024px;
    height: 48px;
    max-height: 44px;
    background: rgb(67, 67, 68);
    /* font-size: 17px; */
    user-select: none;
}

div.navbar_box{
    font-size: 13px;
    display: block;
    margin: 0px auto;
    max-width: 980px;
    /* padding-top: 0px; */
    /* padding-bottom: 0px; */
    position: relative;
    /* z-index: 2; */
    /* padding-left: max(22px, env(safe-area-inset-left)); */
    /* padding-right: max(22px, env(safe-area-inset-right)); */
}

ul.nav_links{
    list-style: none;
    cursor: default;
    /* margin: 0px -8px; */
    margin: auto;
    width: auto;
    height: 44px;
    display: flex;
    /* -webkit-box-pack: justify; */
    justify-content: space-between;
    align-items: center;
    user-select: none;
    /* padding: 0px; */
    /* margin-left: 1.17647em; */
}
li.navbar_submenu svg{
    cursor: pointer;
}


